html {
height: 100%;
/* min-height: 700px;
min-width: 600px; */
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.row{
    display: flex;
    height: 500px;
    width: 600px;
    background-color: rgb(209, 202, 202);
    border: 2px solid ; 
    margin-left: 300px;
    font-size: medium;
}

.row1 {
    /* height: 325px;
    width: 700px;
    background-color: rgb(209, 202, 202); */
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 75px 75px 75px 75px ;
    grid-template-areas: 
    ". bill-amount"
    ". tip-percentage"
    ". tip-amount"
    ". total-tip"
    ". total-bill"
    "btn btn";
   
    margin: 0 auto;
    /* border: 2px solid ;  */
    padding: 25px;
}

/* .row1{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 75px 75px 75px 75px ;
   
   
    margin: 50px auto;
    /* border: 2px solid ;  
    padding: 25px;
} */
#bill-amount {
    grid-area: bill-amount;
    height: 25px;
    width: 250px;
}

#tip-percentage {
    grid-area: tip-percentage;
    height: 25px;
    width: 250px;
}

#tip-amount {
    grid-area: tip-amount;
    height: 25px;
    width: 250px;
}

#total-bill {
    grid-area: total-bill;
    height: 25px;
    width: 250px;
}

#total-tip {
    grid-area: total-tip;
    height: 25px;
    width: 250px;
}

#btn {
    grid-area: btn;
    height: 25px;
    width: auto;
}